body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'PT Serif', serif;
	font-family: 'Josefin Sans', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
